p {
    color: white;
    text-align: center;
    font-size: 20px;
}

h1 {
    color: white;
}

h2 {
    color: white;
}

h3 {
    color: white;
}

h4 {
    color: white;
}

li {
    color: white;
    font-size: 20px;
}